#news{
    display: flex;
    align-items: center;
    /* border: 1px solid gray; */
    justify-content: space-between;
    margin-top: 25px;
    border-radius: 5px;
}

#number-news{
    margin-top: 25px;
    text-align: center;
}

#publishedAt{
    font-size: 9pt;
}

#author{
    font-size: 15pt;
    font-weight: bold;
}

#title{
    font-size: 20pt;
    font-weight: bold;
}

#description{
    font-size: 10pt;
}

.title{
    font-size: 20pt;
    font-weight: bold;
}

.navbar-footer{
    display: flex;
    justify-content: center;
    height: 130px;
    align-items: center;
}

.button{
    height: 50px; 
    width: 100px; 
    border-radius: 10px; 
    border: none;
    background-color: rgb(54, 54, 54);
    color: white;
}